#main{
    display: block;
    position:absolute;
    height:auto;
    bottom:3px;
    top:16px;
    left:3px;
    right:3px;
    padding-left: 80px;
    border-radius: 3px;
    background-color: green;
}
#container{
    vertical-align: top;
}

#content,#control,#square{
    height: 100%;
}

#control{
    position: absolute;
    left: 0;
    width:80px;
    height:100%;
    text-align: center;
}

#content{
    width: 48%;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;
}


#square{
    box-sizing: border-box;
    width: 48%;
    display: inline-block;
}