<ul class="unstyled">
    <li class="">
        <img src="/app/img/avatar.jpg" width="40" class="img-polaroid" />
    </li>
    <li><i class="icon-home icon-2x"></i></li>
    <li class=""><i>@</i></li>
    <li class=""><i class="icon-comments icon-2x"></i></li>
    <li class=""><i class="icon-envelope icon-2x"></i></li>
    <li class=""><i class="icon-user icon-2x"></i></li>
    <li class=""><i class="icon-search icon-2x"></i></li>
    <li id="log-out">logout</li>
    <li><i class="icon-refresh icon-2x"></i></li>
    <li><i class="icon-ellipsis-horizontal icon-2x"></i></li>
    <li><i class="icon-skin icon-2x"></i></li>
    <li id="create-new"><i class="icon-edit icon-2x"></i></li>
</ul>