<div class="content-header">
    <div class="all-group">
        <i class="icon-group"></i>
        <label>
            All Group <i class="icon-caret-down"></i>
        </label>
    </div>

    <div class="type-all">
        <i class="icon-reorder"></i>
        <label>All Type</label>
    </div>
    <div class="type-picture">
        <i class="icon-picture"></i>
        <label>Picture</label>
    </div>
    <div class="type-original">
        <i class="icon-pencil"></i>
        <label>Original</label>
    </div>
    <div class="all-video">
        <i class="icon-play-circle"></i>
        <label>Video</label>
    </div>
    <div class="all-music">
        <i class="icon-music"></i>
        <label>Music</label>
    </div>

</div>
<div style="clear:both;"></div>
<div class="content-body" id="list">content - body</div>