<div class="create-weibo-mask">
    
</div>
<article>
    <header>
        <input type="button" value="cancel" id="cancel" class="btn">
        <input type="button" value="send" id="send" class="btn">
    </header>
    <section>
        <textarea name="" id="new-weibo-content" cols="30" rows="10"></textarea>
        <div class="multi-media">
            <input type="button" value="img">
            <input type="button" value="link">
            <input type="button" value="topic">
            <input type="button" value="video">
        </div>
    </section>
</article>